<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kapphk.pms.dao.mapper.BeanUserMenuBookMapper" >
    <resultMap id="BaseResultMap" type="com.kapphk.pms.bean.BeanUserMenuBook" >
        <!--  自动生成 2016年01月26日 表与实体类字段对应 -->
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="menu_book_id" property="menuBookId" jdbcType="BIGINT" />
        <result column="type" property="type" jdbcType="CHAR" />
        <result column="create_time" property="createTime" jdbcType="VARCHAR" />
        <result column="file_path" property="filePath" jdbcType="VARCHAR" />
        <result column="is_top" property="isTop" jdbcType="VARCHAR" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        <!--  自动生成 2016年01月26日 表字段名称 -->
        id, user_id, menu_book_id, type, create_time, file_path,is_top
    </sql>
    
    <sql id="findByPageSql" >
        <!-- WARNING -  自动生成 2016-01-26  分页查询SQL -->
        select a.* from sys_user_menu_book a
        <where >
            <if test="param.id != null " >
                and a.id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.userId != null " >
                and a.user_id = #{param.userId,jdbcType=BIGINT}
            </if>
            <if test="param.menuBookId != null " >
                and a.menu_book_id = #{param.menuBookId,jdbcType=BIGINT}
            </if>
            <if test="param.type != null " >
                and a.type = #{param.type,jdbcType=CHAR}
            </if>
            <if test="param.filePath != null " >
                and a.file_path = #{param.filePath,jdbcType=CHAR}
            </if>
            <if test="param.isTop != null " >
                and a.is_top = #{param.isTop,jdbcType=CHAR}
            </if>
        </where>
        order by a.id desc
    </sql>
    
    <select id="findByPage" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-01-26  分页查询 -->
        select temp.* from (
        <include refid="findByPageSql" />
        ) temp limit #{offset}, #{pageSize}
    </select>
    
    <select id="findByPageCount" resultType="java.lang.Integer" >
        <!-- WARNING -  自动生成 2016-01-26  分页查询总条数 -->
        select count(1) from (
        <include refid="findByPageSql" />
        ) temp 
    </select>
    
    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        <!--  自动生成 2016年01月26日 根据ID查询 -->
        select 
        <include refid="Base_Column_List" />
        from sys_user_menu_book
        where id = #{id,jdbcType=BIGINT}
    </select>
    
    <select id="load" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-01-26  根据多个ID查询 -->
        select 
        <include refid="Base_Column_List" />
        from sys_user_menu_book where id in 
        <foreach collection="ids" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </select>
    
    <select id="all" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-01-26  查询所有 -->
        select 
        <include refid="Base_Column_List" />
        from sys_user_menu_book
    </select>
    
    <select id="count" resultType="java.lang.Integer" >
        <!-- WARNING -  自动生成 2016-01-26 查询总条数 -->
        select count(1) from sys_user_menu_book
    </select>
    
    <update id="update" parameterType="com.kapphk.pms.bean.BeanUserMenuBook" >
        <!--  自动生成 2016年01月26日 更新数据 -->
        update sys_user_menu_book
        <set >
            <if test="userId != null" >
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="menuBookId != null" >
                menu_book_id = #{menuBookId,jdbcType=BIGINT},
            </if>
            <if test="type != null" >
                type = #{type,jdbcType=CHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="filePath != null" >
                file_path = #{filePath,jdbcType=VARCHAR},
            </if>
            <if test="isTop != null" >
                is_top = #{isTop,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    
    <insert id="insert" parameterType="com.kapphk.pms.bean.BeanUserMenuBook" useGeneratedKeys="true" keyProperty="id" >
        <!--  自动生成 2016年01月26日 添加数据 -->
        insert into sys_user_menu_book
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="userId != null" >
                user_id,
            </if>
            <if test="menuBookId != null" >
                menu_book_id,
            </if>
            <if test="type != null" >
                type,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="filePath != null" >
                file_path,
            </if>
            <if test="isTop != null" >
                is_top,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="userId != null" >
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="menuBookId != null" >
                #{menuBookId,jdbcType=BIGINT},
            </if>
            <if test="type != null" >
                #{type,jdbcType=CHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="filePath != null" >
                #{filePath,jdbcType=VARCHAR},
            </if>
            <if test="isTop != null" >
                #{isTop,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    
    <insert id="inserts" parameterType="java.util.List" >
        <!-- WARNING -  自动生成 2016-01-26 添加多条数据 -->
        insert into sys_user_menu_book (user_id, menu_book_id, type, create_time,file_path,is_top)
        values
        <foreach collection="list" item="item" separator="," >
            (#{item.userId,jdbcType=BIGINT}, #{item.menuBookId,jdbcType=BIGINT}, #{item.type,jdbcType=CHAR}, #{item.createTime,jdbcType=VARCHAR}, #{item.filePath,jdbcType=VARCHAR}, #{item.isTop,jdbcType=VARCHAR})
        </foreach>
    </insert>
    
    <delete id="delete" parameterType="java.lang.Long" >
        <!--  自动生成 2016年01月26日 删除数据 -->
        delete from sys_user_menu_book
        where id = #{id,jdbcType=BIGINT}
    </delete>
    
    <delete id="deletes" >
        <!-- WARNING -  自动生成 2016-01-26 删除多条数据 -->
        delete from sys_user_menu_book where id in 
        <foreach collection="ids" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </delete>
    
    <delete id="deleteByEntity" >
        <!-- WARNING -  自动生成 2016-01-26 通过实体类中的条件删除数据 -->
        delete from sys_user_menu_book
        <where >
            <if test="param.id != null " >
                and id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.userId != null " >
                and user_id = #{param.userId,jdbcType=BIGINT}
            </if>
            <if test="param.menuBookId != null " >
                and menu_book_id = #{param.menuBookId,jdbcType=BIGINT}
            </if>
            <if test="param.type != null " >
                and type = #{param.type,jdbcType=CHAR}
            </if>
        </where>
    </delete>
    
    <select id="findAll" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-01-26  通过实体中的条件查询所有 -->
        select temp.* from (
        <include refid="findByPageSql" />
        ) temp 
    </select>
    
    
        <select id="findByCondition" resultType="java.util.Map">
    select
       mb.id,mb.name,mb.logo_path as logoPath,umb.create_time as createTime,umb.id as userCollectionId, umb.file_path as filePath,umb.is_top as isTop
    from (
	       select   menu_book_id , create_time, id ,file_path,is_top from sys_user_menu_book 
	       <where>
	           <if test="param.userId != null">
	             and user_id = #{param.userId}
	           </if>
	           <if test="param.type != null and param.type != '' ">
	             and type = #{param.type}
	           </if>
	       </where>
	       order by id desc 
	        limit #{pc.page},#{pc.rows}
    )   as umb  join sys_menu_book  mb on umb.menu_book_id = mb.id and mb.status = '1' order by umb.is_top desc,umb.create_time desc
    </select>
    
    <select id="cancelTopMenuBookByUserId" resultType="java.util.Map">
	    UPDATE sys_user_menu_book SET is_top = 0 WHERE user_id = #{userId}
    </select>
    
</mapper>