<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kapphk.pms.dao.mapper.BeanUserRoleMapper" >
    <resultMap id="BaseResultMap" type="com.kapphk.pms.bean.BeanUserRole" >
        <!--  自动生成 2016年01月06日 表与实体类字段对应 -->
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="user_id" property="userId" jdbcType="BIGINT" />
        <result column="role_id" property="roleId" jdbcType="BIGINT" />
        <result column="oneself" property="oneself" jdbcType="SMALLINT" />
    </resultMap>
    
    <delete id="deltetByUserId" parameterType="java.lang.Long" >
        <!--  自动生成 2016年01月06日 删除数据 -->
        delete from sys_user_role
        where user_id = #{userId,jdbcType=BIGINT}
    </delete>
    
    
     <update id="updateByUId" >
        <!--  自动生成 2016年01月06日 更新数据 -->
        update sys_user_role
        <set >
             role_id = #{roleId},
        </set>
        where user_id = #{userId}
    </update>
    
    
    <sql id="Base_Column_List" >
        <!--  自动生成 2016年01月06日 表字段名称 -->
        id, user_id, role_id, oneself
    </sql>
    
    <sql id="findByPageSql" >
        <!-- WARNING -  自动生成 2016-01-06  分页查询SQL -->
        select a.* from sys_user_role a
        <where >
            <if test="param.id != null " >
                and a.id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.userId != null " >
                and a.user_id = #{param.userId,jdbcType=BIGINT}
            </if>
            <if test="param.roleId != null " >
                and a.role_id = #{param.roleId,jdbcType=BIGINT}
            </if>
            <if test="param.oneself != null " >
                and a.oneself = #{param.oneself,jdbcType=SMALLINT}
            </if>
        </where>
        order by a.id desc
    </sql>
    
    <select id="findByPage" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-01-06  分页查询 -->
        select temp.* from (
        <include refid="findByPageSql" />
        ) temp limit #{offset}, #{pageSize}
    </select>
    
    <select id="findByPageCount" resultType="java.lang.Integer" >
        <!-- WARNING -  自动生成 2016-01-06  分页查询总条数 -->
        select count(1) from (
        <include refid="findByPageSql" />
        ) temp 
    </select>
    
    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        <!--  自动生成 2016年01月06日 根据ID查询 -->
        select 
        <include refid="Base_Column_List" />
        from sys_user_role
        where id = #{id,jdbcType=BIGINT}
    </select>
    
    <select id="load" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-01-06  根据多个ID查询 -->
        select 
        <include refid="Base_Column_List" />
        from sys_user_role where id in 
        <foreach collection="ids" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </select>
    
    <select id="all" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-01-06  查询所有 -->
        select 
        <include refid="Base_Column_List" />
        from sys_user_role
    </select>
    
    <select id="count" resultType="java.lang.Integer" >
        <!-- WARNING -  自动生成 2016-01-06 查询总条数 -->
        select count(1) from sys_user_role
    </select>
    
    <update id="update" parameterType="com.kapphk.pms.bean.BeanUserRole" >
        <!--  自动生成 2016年01月06日 更新数据 -->
        update sys_user_role
        <set >
            <if test="userId != null" >
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="roleId != null" >
                role_id = #{roleId,jdbcType=BIGINT},
            </if>
            <if test="oneself != null" >
                oneself = #{oneself,jdbcType=SMALLINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    
    <insert id="insert" parameterType="com.kapphk.pms.bean.BeanUserRole" useGeneratedKeys="true" keyProperty="id" >
        <!--  自动生成 2016年01月06日 添加数据 -->
        insert into sys_user_role
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="userId != null" >
                user_id,
            </if>
            <if test="roleId != null" >
                role_id,
            </if>
            <if test="oneself != null" >
                oneself,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="userId != null" >
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="roleId != null" >
                #{roleId,jdbcType=BIGINT},
            </if>
            <if test="oneself != null" >
                #{oneself,jdbcType=SMALLINT},
            </if>
        </trim>
    </insert>
    
    <insert id="inserts" parameterType="java.util.List" >
        <!-- WARNING -  自动生成 2016-01-06 添加多条数据 -->
        insert into sys_user_role (user_id, role_id, oneself)
        values
        <foreach collection="list" item="item" separator="," >
            (#{item.userId,jdbcType=BIGINT}, #{item.roleId,jdbcType=BIGINT}, #{item.oneself,jdbcType=SMALLINT})
        </foreach>
    </insert>
    
    <delete id="delete" parameterType="java.lang.Long" >
        <!--  自动生成 2016年01月06日 删除数据 -->
        delete from sys_user_role
        where id = #{id,jdbcType=BIGINT}
    </delete>
    
    <delete id="deletes" >
        <!-- WARNING -  自动生成 2016-01-06 删除多条数据 -->
        delete from sys_user_role where id in 
        <foreach collection="ids" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </delete>
    
    <delete id="deleteByEntity" >
        <!-- WARNING -  自动生成 2016-01-06 通过实体类中的条件删除数据 -->
        delete from sys_user_role
        <where >
            <if test="param.id != null " >
                and id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.userId != null " >
                and user_id = #{param.userId,jdbcType=BIGINT}
            </if>
            <if test="param.roleId != null " >
                and role_id = #{param.roleId,jdbcType=BIGINT}
            </if>
            <if test="param.oneself != null " >
                and oneself = #{param.oneself,jdbcType=SMALLINT}
            </if>
        </where>
    </delete>
    
    <select id="findAll" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-01-06  通过实体中的条件查询所有 -->
        select temp.* from (
        <include refid="findByPageSql" />
        ) temp 
    </select>
</mapper>