<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kapphk.pms.dao.mapper.BeanPublicHelpMapper" >
    <resultMap id="BaseResultMap" type="com.kapphk.pms.bean.BeanPublicHelp" >
        <!--  自动生成 2016年01月12日 表与实体类字段对应 -->
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="memo" property="memo" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    </resultMap>
    
    
    <select id="findByTitle" resultMap="BaseResultMap">
        <!--  自动生成 2015年10月21日 根据ID查询 -->
        select 
        <include refid="Base_Column_List" />
        from public_help
        where title = #{title}
    </select>
    
    <sql id="Base_Column_List" >
        <!--  自动生成 2016年01月12日 表字段名称 -->
        id, title, memo, create_time
    </sql>
    
    <sql id="findByPageSql" >
        <!-- WARNING -  自动生成 2016-01-12  分页查询SQL -->
        select a.* from public_help a
        <where >
            <if test="param.id != null " >
                and a.id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.title != null and param.title != ''" >
                and a.title = #{param.title,jdbcType=VARCHAR}
            </if>
            <if test="param.memo != null and param.memo != ''" >
                and a.memo = #{param.memo,jdbcType=VARCHAR}
            </if>
        </where>
        order by a.id desc
    </sql>
    
    <select id="findByPage" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-01-12  分页查询 -->
        select temp.* from (
        <include refid="findByPageSql" />
        ) temp limit #{offset}, #{pageSize}
    </select>
    
    <select id="findByPageCount" resultType="java.lang.Integer" >
        <!-- WARNING -  自动生成 2016-01-12  分页查询总条数 -->
        select count(1) from (
        <include refid="findByPageSql" />
        ) temp 
    </select>
    
    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        <!--  自动生成 2016年01月12日 根据ID查询 -->
        select 
        <include refid="Base_Column_List" />
        from public_help
        where id = #{id,jdbcType=BIGINT}
    </select>
    
    <select id="load" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-01-12  根据多个ID查询 -->
        select 
        <include refid="Base_Column_List" />
        from public_help where id in 
        <foreach collection="ids" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </select>
    
    <select id="all" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-01-12  查询所有 -->
        select 
        <include refid="Base_Column_List" />
        from public_help
    </select>
    
    <select id="count" resultType="java.lang.Integer" >
        <!-- WARNING -  自动生成 2016-01-12 查询总条数 -->
        select count(1) from public_help
    </select>
    
    <update id="update" parameterType="com.kapphk.pms.bean.BeanPublicHelp" >
        <!--  自动生成 2016年01月12日 更新数据 -->
        update public_help
        <set >
            <if test="title != null" >
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="memo != null" >
                memo = #{memo,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    
    <insert id="insert" parameterType="com.kapphk.pms.bean.BeanPublicHelp" useGeneratedKeys="true" keyProperty="id" >
        <!--  自动生成 2016年01月12日 添加数据 -->
        insert into public_help
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="title != null" >
                title,
            </if>
            <if test="memo != null" >
                memo,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="title != null" >
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="memo != null" >
                #{memo,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    
    <insert id="inserts" parameterType="java.util.List" >
        <!-- WARNING -  自动生成 2016-01-12 添加多条数据 -->
        insert into public_help (title, memo, create_time)
        values
        <foreach collection="list" item="item" separator="," >
            (#{item.title,jdbcType=VARCHAR}, #{item.memo,jdbcType=VARCHAR}, #{item.createTime,jdbcType=VARCHAR})
        </foreach>
    </insert>
    
    <delete id="delete" parameterType="java.lang.Long" >
        <!--  自动生成 2016年01月12日 删除数据 -->
        delete from public_help
        where id = #{id,jdbcType=BIGINT}
    </delete>
    
    <delete id="deletes" >
        <!-- WARNING -  自动生成 2016-01-12 删除多条数据 -->
        delete from public_help where id in 
        <foreach collection="ids" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </delete>
    
    <delete id="deleteByEntity" >
        <!-- WARNING -  自动生成 2016-01-12 通过实体类中的条件删除数据 -->
        delete from public_help
        <where >
            <if test="param.id != null " >
                and id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.title != null and param.title != ''" >
                and title = #{param.title,jdbcType=VARCHAR}
            </if>
            <if test="param.memo != null and param.memo != ''" >
                and memo = #{param.memo,jdbcType=VARCHAR}
            </if>
        </where>
    </delete>
    
    <select id="findAll" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-01-12  通过实体中的条件查询所有 -->
        select temp.* from (
        <include refid="findByPageSql" />
        ) temp 
    </select>
    
    <select id="findByCondition" resultMap="BaseResultMap">
      select * from public_help
        <where >
            <if test="param.id != null " >
                and id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.title != null and param.title != ''" >
                and title = #{param.title,jdbcType=VARCHAR}
            </if>
            <if test="param.memo != null and param.memo != ''" >
                and memo = #{param.memo,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>