<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kapphk.pms.dao.mapper.BeanSystemLogMapper" >
    <resultMap id="BaseResultMap" type="com.kapphk.pms.bean.BeanSystemLog" >
        <!--  自动生成 2016年01月06日 表与实体类字段对应 -->
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="uid" property="uid" jdbcType="BIGINT" />
        <result column="ip_address" property="ipAddress" jdbcType="VARCHAR" />
        <result column="operation_type" property="operationType" jdbcType="VARCHAR" />
        <result column="event_name" property="eventName" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    </resultMap>
    
    <select id="findMapAllCount" resultType="java.lang.Integer" >
         SELECT 
		count(1)
		FROM sys_system_log sl 
		LEFT JOIN sys_system_user u ON sl.`uid` = u.`id`
    </select>
    
    
    <!-- 查询日志列表数据huangzh 2015-12-22 -->
    <select id="findMapAll" resultType="java.util.Map">
    SELECT 
	sl.`id`,
	u.`name`,
	sl.`operation_type` AS operationType,
	sl.`event_name` AS evenName,
	sl.`ip_address` AS ipAddress,
	sl.`create_time` AS createTime
	FROM sys_system_log sl 
	LEFT JOIN sys_system_user u ON sl.`uid` = u.`id`
	order by sl.create_time desc
	limit #{page},#{rows}
    </select>
    
    <sql id="Base_Column_List" >
        <!--  自动生成 2016年01月06日 表字段名称 -->
        id, uid, ip_address, operation_type, event_name, create_time
    </sql>
    
    <sql id="findByPageSql" >
        <!-- WARNING -  自动生成 2016-01-06  分页查询SQL -->
        select a.* from sys_system_log a
        <where >
            <if test="param.id != null " >
                and a.id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.uid != null " >
                and a.uid = #{param.uid,jdbcType=BIGINT}
            </if>
            <if test="param.ipAddress != null and param.ipAddress != ''" >
                and a.ip_address = #{param.ipAddress,jdbcType=VARCHAR}
            </if>
            <if test="param.operationType != null and param.operationType != ''" >
                and a.operation_type = #{param.operationType,jdbcType=VARCHAR}
            </if>
            <if test="param.eventName != null and param.eventName != ''" >
                and a.event_name = #{param.eventName,jdbcType=VARCHAR}
            </if>
        </where>
        order by a.id desc
    </sql>
    
    <select id="findByPage" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-01-06  分页查询 -->
        select temp.* from (
        <include refid="findByPageSql" />
        ) temp limit #{offset}, #{pageSize}
    </select>
    
    <select id="findByPageCount" resultType="java.lang.Integer" >
        <!-- WARNING -  自动生成 2016-01-06  分页查询总条数 -->
        select count(1) from (
        <include refid="findByPageSql" />
        ) temp 
    </select>
    
    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        <!--  自动生成 2016年01月06日 根据ID查询 -->
        select 
        <include refid="Base_Column_List" />
        from sys_system_log
        where id = #{id,jdbcType=BIGINT}
    </select>
    
    <select id="load" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-01-06  根据多个ID查询 -->
        select 
        <include refid="Base_Column_List" />
        from sys_system_log where id in 
        <foreach collection="ids" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </select>
    
    <select id="all" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-01-06  查询所有 -->
        select 
        <include refid="Base_Column_List" />
        from sys_system_log
    </select>
    
    <select id="count" resultType="java.lang.Integer" >
        <!-- WARNING -  自动生成 2016-01-06 查询总条数 -->
        select count(1) from sys_system_log
    </select>
    
    <update id="update" parameterType="com.kapphk.pms.bean.BeanSystemLog" >
        <!--  自动生成 2016年01月06日 更新数据 -->
        update sys_system_log
        <set >
            <if test="uid != null" >
                uid = #{uid,jdbcType=BIGINT},
            </if>
            <if test="ipAddress != null" >
                ip_address = #{ipAddress,jdbcType=VARCHAR},
            </if>
            <if test="operationType != null" >
                operation_type = #{operationType,jdbcType=VARCHAR},
            </if>
            <if test="eventName != null" >
                event_name = #{eventName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    
    <insert id="insert" parameterType="com.kapphk.pms.bean.BeanSystemLog" useGeneratedKeys="true" keyProperty="id" >
        <!--  自动生成 2016年01月06日 添加数据 -->
        insert into sys_system_log
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="uid != null" >
                uid,
            </if>
            <if test="ipAddress != null" >
                ip_address,
            </if>
            <if test="operationType != null" >
                operation_type,
            </if>
            <if test="eventName != null" >
                event_name,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="uid != null" >
                #{uid,jdbcType=BIGINT},
            </if>
            <if test="ipAddress != null" >
                #{ipAddress,jdbcType=VARCHAR},
            </if>
            <if test="operationType != null" >
                #{operationType,jdbcType=VARCHAR},
            </if>
            <if test="eventName != null" >
                #{eventName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    
    <insert id="inserts" parameterType="java.util.List" >
        <!-- WARNING -  自动生成 2016-01-06 添加多条数据 -->
        insert into sys_system_log (uid, ip_address, operation_type, event_name, create_time)
        values
        <foreach collection="list" item="item" separator="," >
            (#{item.uid,jdbcType=BIGINT}, #{item.ipAddress,jdbcType=VARCHAR}, #{item.operationType,jdbcType=VARCHAR}, #{item.eventName,jdbcType=VARCHAR}, #{item.createTime,jdbcType=VARCHAR})
        </foreach>
    </insert>
    
    <delete id="delete" parameterType="java.lang.Long" >
        <!--  自动生成 2016年01月06日 删除数据 -->
        delete from sys_system_log
        where id = #{id,jdbcType=BIGINT}
    </delete>
    
    <delete id="deletes" >
        <!-- WARNING -  自动生成 2016-01-06 删除多条数据 -->
        delete from sys_system_log where id in 
        <foreach collection="ids" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </delete>
    
    <delete id="deleteByEntity" >
        <!-- WARNING -  自动生成 2016-01-06 通过实体类中的条件删除数据 -->
        delete from sys_system_log
        <where >
            <if test="param.id != null " >
                and id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.uid != null " >
                and uid = #{param.uid,jdbcType=BIGINT}
            </if>
            <if test="param.ipAddress != null and param.ipAddress != ''" >
                and ip_address = #{param.ipAddress,jdbcType=VARCHAR}
            </if>
            <if test="param.operationType != null and param.operationType != ''" >
                and operation_type = #{param.operationType,jdbcType=VARCHAR}
            </if>
            <if test="param.eventName != null and param.eventName != ''" >
                and event_name = #{param.eventName,jdbcType=VARCHAR}
            </if>
        </where>
    </delete>
    
    <select id="findAll" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-01-06  通过实体中的条件查询所有 -->
        select temp.* from (
        <include refid="findByPageSql" />
        ) temp 
    </select>
</mapper>