<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kapphk.pms.dao.mapper.BeanCityMapper" >
    <resultMap id="BaseResultMap" type="com.kapphk.pms.bean.BeanCity" >
        <!--  自动生成 2016年01月28日 表与实体类字段对应 -->
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="city" property="city" jdbcType="VARCHAR" />
        <result column="pid" property="pid" jdbcType="BIGINT" />
        <result column="type" property="type" jdbcType="VARCHAR" />
        <result column="code" property="code" jdbcType="VARCHAR" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        <!--  自动生成 2016年01月28日 表字段名称 -->
        id, city, pid, type, code
    </sql>
    
    <sql id="findByPageSql" >
        <!-- WARNING -  自动生成 2016-01-28  分页查询SQL -->
        select a.* from sys_city_info a
        <where >
            <if test="param.id != null " >
                and a.id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.city != null and param.city != ''" >
                and a.city = #{param.city,jdbcType=VARCHAR}
            </if>
            <if test="param.pid != null " >
                and a.pid = #{param.pid,jdbcType=BIGINT}
            </if>
            <if test="param.type != null and param.type != ''" >
                and a.type = #{param.type,jdbcType=VARCHAR}
            </if>
            <if test="param.code != null and param.code != ''" >
                and a.code = #{param.code,jdbcType=VARCHAR}
            </if>
        </where>
        order by a.id desc
    </sql>
    
    <select id="findByPage" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-01-28  分页查询 -->
        select temp.* from (
        <include refid="findByPageSql" />
        ) temp limit #{offset}, #{pageSize}
    </select>
    
    <select id="findByPageCount" resultType="java.lang.Integer" >
        <!-- WARNING -  自动生成 2016-01-28  分页查询总条数 -->
        select count(1) from (
        <include refid="findByPageSql" />
        ) temp 
    </select>
    
    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        <!--  自动生成 2016年01月28日 根据ID查询 -->
        select 
        <include refid="Base_Column_List" />
        from sys_city_info
        where id = #{id,jdbcType=BIGINT}
    </select>
    
    <select id="load" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-01-28  根据多个ID查询 -->
        select 
        <include refid="Base_Column_List" />
        from sys_city_info where id in 
        <foreach collection="ids" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </select>
    
    <select id="all" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-01-28  查询所有 -->
        select 
        <include refid="Base_Column_List" />
        from sys_city_info
    </select>
    
    <select id="count" resultType="java.lang.Integer" >
        <!-- WARNING -  自动生成 2016-01-28 查询总条数 -->
        select count(1) from sys_city_info
    </select>
    
    <update id="update" parameterType="com.kapphk.pms.bean.BeanCity" >
        <!--  自动生成 2016年01月28日 更新数据 -->
        update sys_city_info
        <set >
            <if test="city != null" >
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="pid != null" >
                pid = #{pid,jdbcType=BIGINT},
            </if>
            <if test="type != null" >
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="code != null" >
                code = #{code,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    
    <insert id="insert" parameterType="com.kapphk.pms.bean.BeanCity" useGeneratedKeys="true" keyProperty="id" >
        <!--  自动生成 2016年01月28日 添加数据 -->
        insert into sys_city_info
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="city != null" >
                city,
            </if>
            <if test="pid != null" >
                pid,
            </if>
            <if test="type != null" >
                type,
            </if>
            <if test="code != null" >
                code,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="city != null" >
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="pid != null" >
                #{pid,jdbcType=BIGINT},
            </if>
            <if test="type != null" >
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="code != null" >
                #{code,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    
    <insert id="inserts" parameterType="java.util.List" >
        <!-- WARNING -  自动生成 2016-01-28 添加多条数据 -->
        insert into sys_city_info (city, pid, type, code)
        values
        <foreach collection="list" item="item" separator="," >
            (#{item.city,jdbcType=VARCHAR}, #{item.pid,jdbcType=BIGINT}, #{item.type,jdbcType=VARCHAR}, #{item.code,jdbcType=VARCHAR})
        </foreach>
    </insert>
    
    <delete id="delete" parameterType="java.lang.Long" >
        <!--  自动生成 2016年01月28日 删除数据 -->
        delete from sys_city_info
        where id = #{id,jdbcType=BIGINT}
    </delete>
    
    <delete id="deletes" >
        <!-- WARNING -  自动生成 2016-01-28 删除多条数据 -->
        delete from sys_city_info where id in 
        <foreach collection="ids" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </delete>
    
    <delete id="deleteByEntity" >
        <!-- WARNING -  自动生成 2016-01-28 通过实体类中的条件删除数据 -->
        delete from sys_city_info
        <where >
            <if test="param.id != null " >
                and id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.city != null and param.city != ''" >
                and city = #{param.city,jdbcType=VARCHAR}
            </if>
            <if test="param.pid != null " >
                and pid = #{param.pid,jdbcType=BIGINT}
            </if>
            <if test="param.type != null and param.type != ''" >
                and type = #{param.type,jdbcType=VARCHAR}
            </if>
            <if test="param.code != null and param.code != ''" >
                and code = #{param.code,jdbcType=VARCHAR}
            </if>
        </where>
    </delete>
    
    <select id="findAll" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-01-28  通过实体中的条件查询所有 -->
        select temp.* from (
        <include refid="findByPageSql" />
        ) temp 
    </select>
    
        <select id="findCityByCondition" resultMap="BaseResultMap" >
	        select *  delete from sys_city_info
	        <where >
	            <if test="param.id != null " >
	                and id = #{param.id,jdbcType=BIGINT}
	            </if>
	            <if test="param.city != null and param.city != ''" >
	                and city = #{param.city,jdbcType=VARCHAR}
	            </if>
	            <if test="param.pid != null " >
	                and pid = #{param.pid,jdbcType=BIGINT}
	            </if>
	            <if test="param.type != null and param.type != ''" >
	                and type = #{param.type,jdbcType=VARCHAR}
	            </if>
	            <if test="param.code != null and param.code != ''" >
	                and code = #{param.code,jdbcType=VARCHAR}
	            </if>
	        </where>
    </select>
    
    
</mapper>