<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kapphk.pms.dao.mapper.BeanMenuCategoryMapper" >
    <resultMap id="BaseResultMap" type="com.kapphk.pms.bean.BeanMenuCategory" >
        <!--  自动生成 2016年01月20日 表与实体类字段对应 -->
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="pid" property="pid" jdbcType="BIGINT" />
        <result column="logo_path" property="logoPath" jdbcType="VARCHAR" />
        <result column="level" property="level" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="recommend" property="recommend" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="VARCHAR" />
        <result column="c_type" property="cType" jdbcType="VARCHAR" />
    </resultMap>
    
      <!-- 查询  菜谱一级二级关系 -->
       <resultMap id="BaseTowMenuCategoryMap" type="com.kapphk.pms.bean.MenuFirstCategory" >
        <id column="mfcId" property="mfcId" jdbcType="BIGINT" />
        <result column="mfcName" property="mfcName" jdbcType="VARCHAR" />
        <result column="mfcLogoPath" property="mfcLogoPath" jdbcType="VARCHAR" />
        <collection property="secondCategorieList" ofType="com.kapphk.pms.bean.MenuSecondCategory">
            <id column="mscId" property="mscId" jdbcType="BIGINT" />
	        <result column="mscName" property="mscName" jdbcType="VARCHAR" />
	        <result column="mscLogoPath" property="mscLogoPath" jdbcType="VARCHAR" />
        </collection>
       
    </resultMap>
    
    <select id="getSecondCombox" resultType="java.util.Map">
        SELECT 
		id,
		name
		FROM sys_menu_category
		WHERE level = 2
		AND pid = #{firstId}
    </select>
    
     <select id="getFirstCombox" resultType="java.util.Map">
        SELECT 
		id,
		name
		FROM sys_menu_category
		WHERE level = 1
		AND pid = -1
    </select>
    
     <select id="findSecondListCount" resultType="java.lang.Integer" >
        SELECT 
		count(1)
		FROM sys_menu_category c
		WHERE c.level = 2
		AND c.pid != -1
		<if test="searchName != null and searchName != ''">
			and c.name like '%${searchName}%'
		</if>
		<if test="recommend != null and recommend != ''">
			and c.recommend = #{recommend}
		</if>
    </select>
    
    
    <!-- 查询菜谱二级分类列表 huangzh 2016-01-20 -->
    <select id="findSecondList" resultType="java.util.Map">
   		SELECT 
		c.id,
		c.pid,
		c.name,
		(SELECT name FROM sys_menu_category WHERE id = c.pid) as firstName,
		c.logo_path AS logoPath,
		c.status,
		c.c_type as cType,
		c.recommend,
		c.create_time AS createTime
		FROM sys_menu_category c
		WHERE c.level = 2
		AND c.pid != -1
		<if test="searchName != null and searchName != ''">
			and c.name like '%${searchName}%'
		</if>
		<if test="recommend != null and recommend != ''">
			and c.recommend = #{recommend}
		</if>
		order by c.create_time desc
		limit #{page},#{rows}
    </select>
    
    
    <sql id="Base_Column_List" >
        <!--  自动生成 2016年01月20日 表字段名称 -->
        id, name, pid, logo_path, level, status, recommend, create_time,c_type
    </sql>
    
    <sql id="findByPageSql" >
        <!-- WARNING -  自动生成 2016-01-20  分页查询SQL -->
        select a.* from sys_menu_category a
        <where >
            <if test="param.id != null " >
                and a.id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.name != null and param.name != ''" >
                and a.name like '%${param.name}%' 
            </if>
            <if test="param.pid != null " >
                and a.pid = #{param.pid,jdbcType=BIGINT}
            </if>
            <if test="param.logoPath != null and param.logoPath != ''" >
                and a.logo_path like '%${param.logoPath}%' 
            </if>
            <if test="param.level != null and param.level != ''" >
                and a.level like '%${param.level}%' 
            </if>
            <if test="param.status != null and param.status != ''" >
                and a.status like '%${param.status}%' 
            </if>
            <if test="param.recommend != null and param.recommend != ''" >
                and a.recommend like '%${param.recommend}%' 
            </if>
        </where>
        order by a.id desc
    </sql>
    
    <select id="findByPage" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-01-20  分页查询 -->
        select temp.* from (
        <include refid="findByPageSql" />
        ) temp limit #{offset}, #{pageSize}
    </select>
    
    <select id="findByPageCount" resultType="java.lang.Integer" >
        <!-- WARNING -  自动生成 2016-01-20  分页查询总条数 -->
        select count(1) from (
        <include refid="findByPageSql" />
        ) temp 
    </select>
    
    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        <!--  自动生成 2016年01月20日 根据ID查询 -->
        select 
        <include refid="Base_Column_List" />
        from sys_menu_category
        where id = #{id,jdbcType=BIGINT}
    </select>
    
    <select id="load" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-01-20  根据多个ID查询 -->
        select 
        <include refid="Base_Column_List" />
        from sys_menu_category where id in 
        <foreach collection="ids" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </select>
    
    <select id="all" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-01-20  查询所有 -->
        select 
        <include refid="Base_Column_List" />
        from sys_menu_category
    </select>
    
    <select id="count" resultType="java.lang.Integer" >
        <!-- WARNING -  自动生成 2016-01-20 查询总条数 -->
        select count(1) from sys_menu_category
    </select>
    
     <select id="getCategoryStatus" resultType="java.lang.String">
    	select  `name` from sys_menu_category where  id in
    	<foreach collection="ids" item="item" open="(" separator="," close=")" >
            	#{item}
        </foreach>
         AND STATUS=0
    </select>
    
     <update id="upCategoryStatus" >
    	 <!-- WARNING -  自动生成 2016-04-7 更新多条一级数据 -->
    	  update  sys_menu_category 
    	  <set>
    	  	<if test="type != null">
    	  		status=#{type,jdbcType=VARCHAR}
    	 	 </if>
    	  </set>
    	  	where  id in
    	  	 <foreach collection="ids" item="item" open="(" separator="," close=")" >
            	#{item}
        	 </foreach>
        	
        	 <if test="rank !=null">
           	 	or pid in
	         <foreach collection="ids" item="pid" open="(" separator="," close=")" >
	            #{pid}
	         </foreach>
    	  </if>	
    </update>
    
    <update id="update" parameterType="com.kapphk.pms.bean.BeanMenuCategory" >
        <!--  自动生成 2016年01月20日 更新数据 -->
        update sys_menu_category
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="pid != null" >
                pid = #{pid,jdbcType=BIGINT},
            </if>
            <if test="logoPath != null" >
                logo_path = #{logoPath,jdbcType=VARCHAR},
            </if>
            <if test="level != null" >
                level = #{level,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="recommend != null" >
                recommend = #{recommend,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="cType != null" >
                c_type = #{cType,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    
    <insert id="insert" parameterType="com.kapphk.pms.bean.BeanMenuCategory" useGeneratedKeys="true" keyProperty="id" >
        <!--  自动生成 2016年01月20日 添加数据 -->
        insert into sys_menu_category
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="name != null" >
                name,
            </if>
            <if test="pid != null" >
                pid,
            </if>
            <if test="logoPath != null" >
                logo_path,
            </if>
            <if test="level != null" >
                level,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="recommend != null" >
                recommend,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="cType != null" >
                c_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="pid != null" >
                #{pid,jdbcType=BIGINT},
            </if>
            <if test="logoPath != null" >
                #{logoPath,jdbcType=VARCHAR},
            </if>
            <if test="level != null" >
                #{level,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="recommend != null" >
                #{recommend,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="cType != null" >
                #{cType,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    
    <insert id="inserts" parameterType="java.util.List" >
        <!-- WARNING -  自动生成 2016-01-20 添加多条数据 -->
        insert into sys_menu_category (name, pid, logo_path, level, status, recommend, create_time,c_type)
        values
        <foreach collection="list" item="item" separator="," >
            (#{item.name,jdbcType=VARCHAR}, #{item.pid,jdbcType=BIGINT}, #{item.logoPath,jdbcType=VARCHAR}, #{item.level,jdbcType=VARCHAR}, #{item.status,jdbcType=VARCHAR}, #{item.recommend,jdbcType=VARCHAR}, #{item.createTime,jdbcType=VARCHAR}, #{item.cType,jdbcType=VARCHAR})
        </foreach>
    </insert>
    
    <delete id="delete" parameterType="java.lang.Long" >
        <!--  自动生成 2016年01月20日 删除数据 -->
        delete from sys_menu_category
        where id = #{id,jdbcType=BIGINT}
    </delete>
    
    <delete id="deletes">
        <!-- WARNING -  自动生成 2016-01-20 删除多条数据 -->
        delete from sys_menu_category where id in 
        <foreach collection="ids" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </delete>
    
    <delete id="deleteByEntity" >
        <!-- WARNING -  自动生成 2016-01-20 通过实体类中的条件删除数据 -->
        delete from sys_menu_category
        <where >
            <if test="param.id != null " >
                and id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.name != null and param.name != ''" >
                and name = #{param.name,jdbcType=VARCHAR}
            </if>
            <if test="param.pid != null " >
                and pid = #{param.pid,jdbcType=BIGINT}
            </if>
            <if test="param.logoPath != null and param.logoPath != ''" >
                and logo_path = #{param.logoPath,jdbcType=VARCHAR}
            </if>
            <if test="param.level != null and param.level != ''" >
                and level = #{param.level,jdbcType=VARCHAR}
            </if>
            <if test="param.status != null and param.status != ''" >
                and status = #{param.status,jdbcType=VARCHAR}
            </if>
            <if test="param.recommend != null and param.recommend != ''" >
                and recommend = #{param.recommend,jdbcType=VARCHAR}
            </if>
            <if test="param.cType != null and param.recommend != ''" >
                and cType = #{param.cType,jdbcType=VARCHAR}
            </if>
        </where>
    </delete>
    
    <select id="findAll" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-01-20  通过实体中的条件查询所有 -->
        select temp.* from (
        <include refid="findByPageSql" />
        ) temp 
    </select>
    
    <select id="findByCondition" resultType="java.util.Map" >
       select id,name,logo_path as logoPath  from sys_menu_category
          <where >
            <if test="param.id != null " >
                and id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.name != null and param.name != ''" >
                and name = #{param.name,jdbcType=VARCHAR}
            </if>
             <if test="param.cType != null and param.cType != ''" >
                and pid in (select id from sys_menu_category mc where mc.c_type = #{param.cType}) 
            </if>
            <if test="param.pid != null " >
                and pid = #{param.pid,jdbcType=BIGINT}
            </if>
            <if test="param.logoPath != null and param.logoPath != ''" >
                and logo_path = #{param.logoPath,jdbcType=VARCHAR}
            </if>
            <if test="param.level != null and param.level != ''" >
                and level = #{param.level,jdbcType=VARCHAR}
            </if>
            <if test="param.status != null and param.status != ''" >
                and status = #{param.status,jdbcType=VARCHAR}
            </if>
            <if test="param.recommend != null and param.recommend != ''" >
                and recommend = #{param.recommend,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    
    
        <select id="findPagination" resultType="java.util.Map">
       select id,name,logo_path as logoPath  from sys_menu_category
          <where >
            <if test="param.id != null " >
                and id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.name != null and param.name != ''" >
                and name = #{param.name,jdbcType=VARCHAR}
            </if>
            <if test="param.pid != null " >
                and pid = #{param.pid,jdbcType=BIGINT}
            </if>
            <if test="param.logoPath != null and param.logoPath != ''" >
                and logo_path = #{param.logoPath,jdbcType=VARCHAR}
            </if>
            <if test="param.level != null and param.level != ''" >
                and level = #{param.level,jdbcType=VARCHAR}
            </if>
            <if test="param.status != null and param.status != ''" >
                and status = #{param.status,jdbcType=VARCHAR}
            </if>
            <if test="param.recommend != null and param.recommend != ''" >
                and recommend = #{param.recommend,jdbcType=VARCHAR}
            </if>
        </where>
        limit #{pc.page},#{pc.rows}
    </select>
    
    
    <select id="findTowMenuCategory" resultMap="BaseTowMenuCategoryMap">
       select mfc.id mfcId , mfc.name  as mfcName ,mfc.logo_path as mfcLogoPath,
              msc.id mscId , msc.name  as mscName , msc.logo_path as mscLogoPath
              from sys_menu_category as mfc left join sys_menu_category msc  on mfc.id = msc.pid  and msc.status = '1'
              <where>
              		<if test="conditionId != null and conditionId != ''">
              			and mfc.id = #{conditionId,jdbcType=BIGINT} 
              		</if>
              			and mfc.level = '1' and mfc.status = '1'
              </where>
    </select>
    
</mapper>