<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kapphk.pms.dao.mapper.BeanMenuBookMapper" >
    <resultMap id="BaseResultMap" type="com.kapphk.pms.bean.BeanMenuBook" >
        <!--  自动生成 2016年01月29日 表与实体类字段对应 -->
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="uid" property="uid" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="foods" property="foods" jdbcType="VARCHAR" />
        <result column="logo_path" property="logoPath" jdbcType="VARCHAR" />
        <result column="describes" property="describes" jdbcType="VARCHAR" />
        <result column="click_number" property="clickNumber" jdbcType="INTEGER" />
        <result column="recommend" property="recommend" jdbcType="VARCHAR" />
        <result column="is_advert" property="isAdvert" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="VARCHAR" />
        <result column="audit_status" property="auditStatus" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <result column="audit_time" property="auditTime" jdbcType="VARCHAR" />
        <result column="is_new" property="isNew" jdbcType="VARCHAR" />
    	<result column="file_path" property="filePath" jdbcType="VARCHAR" />
    	<result column="over_time" property="overTime" jdbcType="VARCHAR" />
    	
    	<collection property="procedures" ofType="com.kapphk.pms.bean.BeanMenubookProcedure" column="menuId">  
       		 <id column="p_id" property="id" jdbcType="BIGINT" />
	         <result column="p_menu_id" property="menuId" jdbcType="BIGINT" />
	         <result column="p_minute" property="minute" jdbcType="VARCHAR" />
	         <result column="p_second" property="second" jdbcType="VARCHAR" />
	         <result column="p_describes" property="describes" jdbcType="VARCHAR" />
	         <result column="p_foods" property="foods" jdbcType="VARCHAR" />
	         <result column="p_create_time" property="createTime" jdbcType="VARCHAR" />
        </collection>  
    </resultMap>
    
    
     <select id="findCollectListCount" resultType="java.lang.Integer" >
        SELECT 
    	count(1)
		FROM sys_menu_book mb 
		LEFT JOIN sys_user_menu_book umb ON umb.`menu_book_id` = mb.`id`
		LEFT JOIN sys_user u ON u.id = umb.user_id,(SELECT @a:=0,@b:=-1) t
		WHERE umb.`type` = 2 and mb.status !=2
		<if test="searchNickName != null and searchNickName != ''">
    		and u.nick_name like '%${searchNickName}%' 
    	</if>
     </select>
    
    <!-- 查询用户收藏的菜谱 huangzh 2016-01-27 -->
    <select id="findCollectList" resultType="java.util.Map">
        SELECT 
    	(@b:=@a),
    	mb.`audit_status` AS auditStatus,
    	mb.id,
		umb.`create_time` createTime,
		mb.`is_advert` isAdvert,
		mb.`recommend`,
		mb.click_number,
		(SELECT GROUP_CONCAT( CONCAT((@b:=@b+1)+'','、',mp.describes)) FROM sys_menubook_procedure mp WHERE mp.menu_id = mb.`id`) menuProcedure,
		mb.`foods`,
		mb.`describes`,
		mb.`logo_path` logoPath,
		mb.`name`,
		mb.`over_time` overTime,
		(SELECT nick_name FROM sys_user WHERE id = mb.uid) AS nickName,
		u.nick_name collectNickName,
		 (SELECT GROUP_CONCAT(NAME) FROM sys_menu_category c, sys_menubook_category mc  WHERE c.id = mc.category_id AND mc.menu_id = mb.id AND c.pid != -1)category 
		FROM sys_menu_book mb 
		LEFT JOIN sys_user_menu_book umb ON umb.`menu_book_id` = mb.`id`
		LEFT JOIN sys_user u ON u.id = umb.user_id,(SELECT @a:=0,@b:=-1) t
		WHERE umb.`type` = 2 and mb.status !=2
		<if test="searchNickName != null and searchNickName != ''">
    		and u.nick_name like '%${searchNickName}%' 
    	</if>
    	order  by umb.create_time desc
    	limit #{page},#{rows}
    </select>
    
    
      <select id="findMenuBookListByAuditStatusCount" resultType="java.lang.Integer" >
        SELECT 
    	count(1)
		FROM sys_menu_book mb 
		LEFT JOIN sys_user u ON u.`id` = mb.`uid`,(SELECT @a:=0,@b:=-1) t
	    <where>
	    		1 = 1 and mb.status !=2
		    	<if test="searchNickName != null and searchNickName != ''">
		    		and u.nick_name like '%${searchNickName}%' 
		    	</if>
		    	<if test="auditStatus != null and auditStatus != ''">
		    		and mb.audit_status = #{auditStatus} 
		    	</if>
		    	<if test="searchMenuBookName != null and searchMenuBookName != ''">
		    		and mb.name like '%${searchMenuBookName}%'
		    	</if>
		    	and mb.uid != -1
    	</where>
     </select>
    
    
    <!-- 根据审核状态查询菜谱列表 haungzh 2016-01-27 -->
    <select id="findMenuBookListByAuditStatus" resultType="java.util.Map">
        SELECT 
    	(@b:=@a),
    	mb.`audit_status` AS auditStatus,
    	mb.id,
		mb.`create_time` as createTime,
		mb.`audit_time` as auditTime,
		mb.`is_advert` isAdvert,
		mb.`recommend`,
		mb.click_number,
		(SELECT GROUP_CONCAT( CONCAT((@b:=@b+1)+'','、',mp.describes)) FROM sys_menubook_procedure mp WHERE mp.menu_id = mb.`id`) menuProcedure,
		mb.`foods`,
		mb.`describes`,
		mb.`logo_path` logoPath,
		mb.`name`,
		mb.`over_time` overTime,
		IFNULL (u.`nick_name`,'美易来') nickName,
		 (SELECT GROUP_CONCAT(NAME) FROM sys_menu_category c, sys_menubook_category mc  WHERE c.id = mc.category_id AND mc.menu_id = mb.id AND c.pid != -1)category 
		FROM sys_menu_book mb 
		inner JOIN sys_user u ON u.`id` = mb.`uid`,(SELECT @a:=0,@b:=-1) t
	    <where>
	    		1 = 1 and mb.status !=2
		    	<if test="searchNickName != null and searchNickName != ''">
		    		and u.nick_name like '%${searchNickName}%' 
		    	</if>
		    	<if test="auditStatus != null and auditStatus != ''">
		    		and mb.audit_status = #{auditStatus} 
		    	</if>
		    	<if test="searchMenuBookName != null and searchMenuBookName != ''">
		    		and mb.name like '%${searchMenuBookName}%'
		    	</if>
		    		and mb.uid != -1
    	</where>
    	order by mb.audit_time desc,mb.create_time desc
    	limit #{page},#{rows}
    </select>
    
    
    
    
     <select id="getMenuBookComboxByName" resultType="java.util.Map">
    	SELECT
		id,
		name
		FROM  sys_menu_book 
		<where>
			1=1 and status !=2 and audit_status = 1
			<if test="name != null and name !=''">
				and foods like '%${name}%'
			</if>
			<if test="isAdvert != null and isAdvert !=''">
				and is_advert = #{isAdvert}
			</if>
			<if test="recommend != null and recommend != ''">
	    		and recommend = #{recommend}
	    	</if>
		</where>
		
		order by id desc
    </select>
    
    <select id="findCategoryIds" resultType="java.util.Map">
   		SELECT
		mc.`category_id` secondId,
		c.name secondName,
		(SELECT pid FROM sys_menu_category WHERE id = mc.`category_id`) firstId,
		(SELECT NAME FROM sys_menu_category WHERE id = (SELECT pid FROM sys_menu_category WHERE id = mc.`category_id`)) firstName
		FROM 
		sys_menu_book m
		LEFT JOIN sys_menubook_category mc ON mc.`menu_id` = m.`id`
		LEFT JOIN sys_menu_category c ON c.`id` = mc.`category_id`
		WHERE c.`level` = 2 and m.status !=2
		and m.id = #{id}
		ORDER BY mc.`id`
    </select>
    
    
    
     <!-- 根据商店表中的id查询商店和版本信息 -->  
    <select id="findMenuBookById" resultMap="BaseResultMap">  
      SELECT 
	  m.*,
	  mp.id AS p_id,
	  mp.menu_id AS p_menu_id,
	  mp.minute AS p_minute,
	  mp.second AS p_second,
	  mp.describes AS P_describes,
	  mp.foods AS p_foods,
	  mp.create_time AS p_create_time 
	  FROM
	  sys_menu_book m LEFT JOIN sys_menubook_procedure mp ON m.`id` = mp.`menu_id` 
	  WHERE 
	  m.id = #{id} and m.status !=2
	  order by m.id asc
    </select> 
    
       
    <select id="findMapPageCount" resultType="java.lang.Integer" >
        SELECT
        count(1) 
		FROM sys_menu_book mb 
		LEFT JOIN sys_user u ON u.`id` = mb.`uid`
    	<where>
    		1 = 1 and mb.status !=2
	    	<if test="searchName != null and searchName != ''">
	    		and mb.name like '%${searchName}%' 
	    	</if>
	    	<if test="recommend != null and recommend != ''">
	    		and mb.recommend = #{recommend}
	    	</if>
	    		and audit_status = 1
    	</where>
    </select>
    
    
    <!-- 查询菜谱列表 huangzh 2016-01-21 -->
    <select id="findMapPage" resultType="java.util.Map">
    	SELECT 
    	(@b:=@a),
    	mb.id,
    	mb.is_new as isNew,
		mb.`create_time` createTime,
		mb.`is_advert` isAdvert,
		mb.`recommend`,
		mb.click_number,
		(SELECT GROUP_CONCAT( CONCAT((@b:=@b+1)+'','、',mp.describes)) FROM sys_menubook_procedure mp WHERE mp.menu_id = mb.`id`) menuProcedure,
		mb.`foods`,
		mb.`describes`,
		mb.`logo_path` logoPath,
		mb.`name`,
		mb.`over_time` overTime,
		IFNULL (u.`nick_name`,'美易来') nickName,
		 (SELECT GROUP_CONCAT(NAME) FROM sys_menu_category c, sys_menubook_category mc  WHERE c.id = mc.category_id AND mc.menu_id = mb.id AND c.pid != -1)category 
		FROM sys_menu_book mb 
		LEFT JOIN sys_user u ON u.`id` = mb.`uid`,(SELECT @a:=0,@b:=-1) t
    	<where>
    		1 = 1 and mb.status !=2
	    	<if test="searchName != null and searchName != ''">
	    		and mb.name like '%${searchName}%' 
	    	</if>
	    	<if test="recommend != null and recommend != ''">
	    		and mb.recommend = #{recommend}
	    	</if>
	    		and audit_status = 1
    	</where>
    	order by mb.create_time desc
    	limit #{page},#{rows}
    </select>
    
    <sql id="Base_Column_List" >
        <!--  自动生成 2016年01月29日 表字段名称 -->
        id, uid, name, foods, logo_path, describes, click_number, recommend, is_advert, status, 
        create_time, audit_status, remark, audit_time, is_new, file_path, over_time
    </sql>
    
    <sql id="findByPageSql" >
        <!-- WARNING -  自动生成 2016-01-29  分页查询SQL -->
        select a.* from sys_menu_book a
        <where >
            <if test="param.id != null " >
                and a.id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.uid != null " >
                and a.uid = #{param.uid,jdbcType=BIGINT}
            </if>
            <if test="param.name != null and param.name != ''" >
                and a.name like '%${param.name}%' 
            </if>
            <if test="param.foods != null and param.foods != ''" >
                and a.foods like '%${param.foods}%' 
            </if>
            <if test="param.logoPath != null and param.logoPath != ''" >
                and a.logo_path like '%${param.logoPath}%' 
            </if>
            <if test="param.describes != null and param.describes != ''" >
                and a.describes like '%${param.describes}%' 
            </if>
            <if test="param.clickNumber != null " >
                and a.click_number = #{param.clickNumber,jdbcType=INTEGER}
            </if>
            <if test="param.recommend != null and param.recommend != ''" >
                and a.recommend like '%${param.recommend}%' 
            </if>
            <if test="param.isAdvert != null and param.isAdvert != ''" >
                and a.is_advert like '%${param.isAdvert}%' 
            </if>
            <if test="param.status != null and param.status != ''" >
                and a.status like '%${param.status}%' 
            </if>
            <if test="param.auditStatus != null and param.auditStatus != ''" >
                and a.audit_status like '%${param.auditStatus}%' 
            </if>
            <if test="param.remark != null and param.remark != ''" >
                and a.remark like '%${param.remark}%' 
            </if>
            <if test="param.auditTime != null and param.auditTime != ''" >
                and a.audit_time like '%${param.auditTime}%' 
            </if>
            <if test="param.isNew != null and param.isNew != ''" >
                and a.is_new like '%${param.isNew}%' 
            </if>
            <if test="param.overTime != null and param.overTime != ''" >
                and a.over_time like '%${param.overTime}%' 
            </if>
        </where>
        order by a.id desc
    </sql>
    
    <select id="findByPage" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-01-29  分页查询 -->
        select temp.* from (
        <include refid="findByPageSql" />
        ) temp limit #{offset}, #{pageSize}
    </select>
    
    <select id="findByPageCount" resultType="java.lang.Integer" >
        <!-- WARNING -  自动生成 2016-01-29  分页查询总条数 -->
        select count(1) from (
        <include refid="findByPageSql" />
        ) temp 
    </select>
    
    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        <!--  自动生成 2016年01月29日 根据ID查询 -->
        select 
        <include refid="Base_Column_List" />
        from sys_menu_book
        where id = #{id,jdbcType=BIGINT}
    </select>
    
    <select id="load" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-01-29  根据多个ID查询 -->
        select 
        <include refid="Base_Column_List" />
        from sys_menu_book where id in 
        <foreach collection="ids" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
        and status !=2
    </select>
    
    <select id="all" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-01-29  查询所有 -->
        select 
        <include refid="Base_Column_List" />
        from sys_menu_book where and status !=2
    </select>
    
    <select id="count" resultType="java.lang.Integer" >
        <!-- WARNING -  自动生成 2016-01-29 查询总条数 -->
        select count(1) from sys_menu_book where and status !=2
    </select>
    
    <update id="update" parameterType="com.kapphk.pms.bean.BeanMenuBook" >
        <!--  自动生成 2016年01月29日 更新数据 -->
        update sys_menu_book
        <set >
            <if test="uid != null" >
                uid = #{uid,jdbcType=BIGINT},
            </if>
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="foods != null" >
                foods = #{foods,jdbcType=VARCHAR},
            </if>
            <if test="logoPath != null" >
                logo_path = #{logoPath,jdbcType=VARCHAR},
            </if>
            <if test="describes != null" >
                describes = #{describes,jdbcType=VARCHAR},
            </if>
            <if test="clickNumber != null" >
                click_number = #{clickNumber,jdbcType=INTEGER},
            </if>
            <if test="recommend != null" >
                recommend = #{recommend,jdbcType=VARCHAR},
            </if>
            <if test="isAdvert != null" >
                is_advert = #{isAdvert,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="auditStatus != null" >
                audit_status = #{auditStatus,jdbcType=VARCHAR},
            </if>
            <if test="remark != null" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="auditTime != null" >
                audit_time = #{auditTime,jdbcType=VARCHAR},
            </if>
            <if test="isNew != null" >
                is_new = #{isNew,jdbcType=VARCHAR},
            </if>
            <if test="filePath != null" >
                file_path = #{filePath,jdbcType=VARCHAR},
            </if>
            <if test="overTime != null" >
                over_time = #{overTime,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    
    <insert id="insert" parameterType="com.kapphk.pms.bean.BeanMenuBook" useGeneratedKeys="true" keyProperty="id" >
        <!--  自动生成 2016年01月29日 添加数据 -->
        insert into sys_menu_book
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="uid != null" >
                uid,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="foods != null" >
                foods,
            </if>
            <if test="logoPath != null" >
                logo_path,
            </if>
            <if test="describes != null" >
                describes,
            </if>
            <if test="clickNumber != null" >
                click_number,
            </if>
            <if test="recommend != null" >
                recommend,
            </if>
            <if test="isAdvert != null" >
                is_advert,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="auditStatus != null" >
                audit_status,
            </if>
            <if test="remark != null" >
                remark,
            </if>
            <if test="auditTime != null" >
                audit_time,
            </if>
            <if test="isNew != null" >
                is_new,
            </if>
            <if test="filePath != null" >
                file_path,
            </if>
            <if test="overTime != null" >
                over_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="uid != null" >
                #{uid,jdbcType=BIGINT},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="foods != null" >
                #{foods,jdbcType=VARCHAR},
            </if>
            <if test="logoPath != null" >
                #{logoPath,jdbcType=VARCHAR},
            </if>
            <if test="describes != null" >
                #{describes,jdbcType=VARCHAR},
            </if>
            <if test="clickNumber != null" >
                #{clickNumber,jdbcType=INTEGER},
            </if>
            <if test="recommend != null" >
                #{recommend,jdbcType=VARCHAR},
            </if>
            <if test="isAdvert != null" >
                #{isAdvert,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="auditStatus != null" >
                #{auditStatus,jdbcType=VARCHAR},
            </if>
            <if test="remark != null" >
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="auditTime != null" >
                #{auditTime,jdbcType=VARCHAR},
            </if>
            <if test="isNew != null" >
                #{isNew,jdbcType=VARCHAR},
            </if>
             <if test="filePath != null" >
                #{filePath,jdbcType=VARCHAR},
            </if>
            <if test="overTime != null" >
                #{overTime,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    
    <insert id="inserts" parameterType="java.util.List" >
        <!-- WARNING -  自动生成 2016-01-29 添加多条数据 -->
        insert into sys_menu_book (uid, name, foods, logo_path, describes, click_number, recommend, is_advert, status, create_time, audit_status, remark, audit_time, is_new, file_path, over_time)
        values
        <foreach collection="list" item="item" separator="," >
            (#{item.uid,jdbcType=BIGINT}, #{item.name,jdbcType=VARCHAR}, #{item.foods,jdbcType=VARCHAR}, #{item.logoPath,jdbcType=VARCHAR}, #{item.describes,jdbcType=VARCHAR}, #{item.clickNumber,jdbcType=INTEGER}, #{item.recommend,jdbcType=VARCHAR}, #{item.isAdvert,jdbcType=VARCHAR}, #{item.status,jdbcType=VARCHAR}, #{item.createTime,jdbcType=VARCHAR}, #{item.auditStatus,jdbcType=VARCHAR}, #{item.remark,jdbcType=VARCHAR}, #{item.auditTime,jdbcType=VARCHAR}, #{item.isNew,jdbcType=VARCHAR}, #{item.filePath,jdbcType=VARCHAR}, #{item.overTime,jdbcType=VARCHAR})
        </foreach>
    </insert>
    
    <delete id="delete" parameterType="java.lang.Long" >
        <!--  自动生成 2016年01月29日 删除数据 -->
        delete from sys_menu_book
        where id = #{id,jdbcType=BIGINT}
    </delete>
    
    <delete id="deletes" >
        <!-- WARNING -  自动生成 2016-01-29 删除多条数据 -->
        delete from sys_menu_book where id in 
        <foreach collection="ids" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </delete>
    
    <delete id="deleteByEntity" >
        <!-- WARNING -  自动生成 2016-01-29 通过实体类中的条件删除数据 -->
        delete from sys_menu_book
        <where >
            <if test="param.id != null " >
                and id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.uid != null " >
                and uid = #{param.uid,jdbcType=BIGINT}
            </if>
            <if test="param.name != null and param.name != ''" >
                and name = #{param.name,jdbcType=VARCHAR}
            </if>
            <if test="param.foods != null and param.foods != ''" >
                and foods = #{param.foods,jdbcType=VARCHAR}
            </if>
            <if test="param.logoPath != null and param.logoPath != ''" >
                and logo_path = #{param.logoPath,jdbcType=VARCHAR}
            </if>
            <if test="param.describes != null and param.describes != ''" >
                and describes = #{param.describes,jdbcType=VARCHAR}
            </if>
            <if test="param.clickNumber != null " >
                and click_number = #{param.clickNumber,jdbcType=INTEGER}
            </if>
            <if test="param.recommend != null and param.recommend != ''" >
                and recommend = #{param.recommend,jdbcType=VARCHAR}
            </if>
            <if test="param.isAdvert != null and param.isAdvert != ''" >
                and is_advert = #{param.isAdvert,jdbcType=VARCHAR}
            </if>
            <if test="param.status != null and param.status != ''" >
                and status = #{param.status,jdbcType=VARCHAR}
            </if>
            <if test="param.auditStatus != null and param.auditStatus != ''" >
                and audit_status = #{param.auditStatus,jdbcType=VARCHAR}
            </if>
            <if test="param.remark != null and param.remark != ''" >
                and remark = #{param.remark,jdbcType=VARCHAR}
            </if>
            <if test="param.auditTime != null and param.auditTime != ''" >
                and audit_time = #{param.auditTime,jdbcType=VARCHAR}
            </if>
            <if test="param.isNew != null and param.isNew != ''" >
                and is_new = #{param.isNew,jdbcType=VARCHAR}
            </if>
            <if test="param.filePath != null and param.filePath != ''" >
                and file_path = #{param.filePath,jdbcType=VARCHAR}
            </if>
            <if test="param.overTime != null and param.overTime != ''" >
                and over_time = #{param.overTime,jdbcType=VARCHAR}
            </if>
        </where>
    </delete>
    
    <select id="findAll" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-01-29  通过实体中的条件查询所有 -->
        select temp.* from (
        <include refid="findByPageSql" />
        ) temp 
    </select>
    
    
    <select id="searchMenuBookById" resultType="java.util.Map">
	    SELECT id , name,foods,logo_path AS logoPath,describes,over_time as over_time
	    <if test="userId != null">
		,COALESCE((SELECT umb.id FROM sys_user_menu_book umb WHERE umb.menu_book_id = mb.id AND umb.user_id = #{userId} AND umb.type ='2' ORDER BY umb.id LIMIT 0,1),0) AS collectionId 
	    </if> 
		FROM sys_menu_book mb WHERE mb.id = #{id}
    </select>
    
    <select id="findByCondition" resultType="java.util.Map">
    select
    mb.id,mb.name,mb.logo_path as logoPath,mb.create_time as createTime,
    mb.audit_status as auditStatus,mb.remark,audit_time as auditTime, file_path as filePath
    from   sys_menu_book  mb 
          <where >
          mb.status !=2
            <if test="param.id != null " >
                and id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.uid != null " >
                and uid = #{param.uid,jdbcType=BIGINT}
            </if>
            <if test="param.name != null and param.name != ''" >
                and name = #{param.name,jdbcType=VARCHAR}
            </if>
            <if test="param.foods != null and param.foods != ''" >
                and foods = #{param.foods,jdbcType=VARCHAR}
            </if>
            <if test="param.logoPath != null and param.logoPath != ''" >
                and logo_path = #{param.logoPath,jdbcType=VARCHAR}
            </if>
            <if test="param.describes != null and param.describes != ''" >
                and describes = #{param.describes,jdbcType=VARCHAR}
            </if>
            <if test="param.clickNumber != null " >
                and click_number = #{param.clickNumber,jdbcType=INTEGER}
            </if>
            <if test="param.recommend != null and param.recommend != ''" >
                and recommend = #{param.recommend,jdbcType=VARCHAR}
            </if>
            <if test="param.isAdvert != null and param.isAdvert != ''" >
                and is_advert = #{param.isAdvert,jdbcType=VARCHAR}
            </if>
            <if test="param.status != null and param.status != ''" >
                and status = #{param.status,jdbcType=VARCHAR}
            </if>
            <if test="param.auditStatus != null and param.auditStatus != ''" >
                and audit_status = #{param.auditStatus,jdbcType=VARCHAR}
            </if>
        </where>
        order by mb.create_time desc
    </select>
    
    
    <select id="findMenuBookPagination" resultType="java.util.Map">
         select mb.id,mb.name ,mb.logo_path as logoPath ,mb.click_number as clickNumber
         
         from  sys_menu_book mb 
         <if test="param.categoryId  != null and param.categoryId != ''">
          join  sys_menubook_category mbc  on mb.id = mbc.menu_id and mbc.category_id = #{param.categoryId}
         </if> 
         <where>
         mb.status !=2
            <if test="param.status != null and param.status !=''">
                 and mb.status = #{param.status,jdbcType=VARCHAR}
            </if>
              <if test="param.recommend != null and param.recommend != ''" >
                and mb.recommend = #{param.recommend,jdbcType=VARCHAR}
            </if>
             <if test="param.name != null and param.name != ''" >
                and mb.name = #{param.name,jdbcType=VARCHAR}
            </if>
             <if test="param.auditStatus != null and param.auditStatus != ''" >
                and mb.audit_status = #{param.auditStatus,jdbcType=VARCHAR}
            </if>
         </where>
         <if test="param.order != null">
          order by 
          <if test="param.order == 1">mb.create_time</if>
          <if test="param.order == 2">mb.click_number </if>
          <if test="param.order == 3">mb.recommend </if>
          desc
         </if>
         limit #{pc.page},#{pc.rows}
    </select>
    
    <select id="findByAll" resultMap="BaseResultMap">
    	select * from sys_menu_book 
    	<where>
    			status = 2
    		<if test="param.uid != null " >
                and uid = #{param.uid,jdbcType=BIGINT}
            </if>
            <if test="param.name != null and param.name != ''" >
                and name = #{param.name,jdbcType=VARCHAR}
            </if>
    	</where>
    </select>
    
    <!-- 2018-04-27 huzi 根据文件路径中的目录名查询目录下的所有文件  -->
<!--     <select id="findByFilePath" resultMap="BaseResultMap" parameterType="java.lang.String"> -->
    <select id="findByFilePath" resultMap="BaseResultMap">
    	select 
    		group_concat(substring_index(smb.file_path,'/',-1)) 
    	from 
			sys_menu_book smb 
		where 
			smb.file_path 
	<!--like ${_parameter} -->
		like concat('%/',#{datePath,jdbcType=VARCHAR},'/%')
    </select>
  
  
   
</mapper>