<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kapphk.pms.dao.mapper.BeanMenuBookShareMapper" >
    <resultMap id="BaseResultMap" type="com.kapphk.pms.bean.BeanMenuBookShare" >
        <!--  自动生成 2016年01月29日 表与实体类字段对应 -->
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="uid" property="uid" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="foods" property="foods" jdbcType="VARCHAR" />
        <result column="logo_path" property="logoPath" jdbcType="VARCHAR" />
        <result column="file_path" property="filePath" jdbcType="VARCHAR" />
        <result column="describes" property="describes" jdbcType="VARCHAR" />
       	<result column="create_time" property="createTime" jdbcType="VARCHAR" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        <!--  huzi 2018-05-22 表字段名称 -->
        id, uid, name, foods, logo_path, file_path, describes, create_time
    </sql>
    
    
    <!-- huzi  2018年05月22日    分页查询（条件查询/条件排序） -->
    <select id="getMenuBookShareList" resultType="java.util.Map" >
         select 
	        a.id,
	        b.nick_name as userName,
	        a.name as shareName,
	        a.foods,
	        a.logo_path as logoPath,
	        a.file_path as filePath,
	        a.describes,
	        a.create_time as createTime
        from sys_menu_book_share a inner join sys_user b on a.uid = b.id
        <where>
            <if test="userName != null and userName != ''" >
                and b.nick_name like '%${userName}%'
            </if>
            <if test="shareName != null and shareName != ''" >
                and a.name like '%${shareName}%'
            </if>
        </where>
        <if test="orderby != null and orderby != ''" >
          	order by ${orderby}
        </if>
        <if test="orderby == null"> order by a.create_time desc</if>
        limit #{offset}, #{pageSize}
    </select>
     
    <!-- huzi -  2018年05月22日   分页查询总条数 -->
    <select id="getMenuBookShareCount" resultType="java.lang.Integer" >
        select count(1)  from sys_menu_book_share a inner join sys_user b on a.uid = b.id
        <where>
            <if test="userName != null and userName != ''" >
                and b.nick_name like '%${userName}%'
            </if>
            <if test="shareName != null and shareName != ''" >
                and a.name like '%${shareName}%'
            </if>
        </where>
    </select>
     
     
    <!-- huzi  2018年05月22日  根据用户id查询数据   -->
    <select id="findMenuBookShareByUserId" resultMap="BaseResultMap">  
      	select 
        	<include refid="Base_Column_List" />
        from 
        	sys_menu_book_share
        where 
        	uid = #{userId,jdbcType=BIGINT} 
    </select> 
    
    
    <!-- huzi  2018年05月22日  根据用户id和菜谱名查询数据   -->
    <select id="findByUserIdAndFileName" resultMap="BaseResultMap" parameterType="java.util.Map" >
        select 
        	<include refid="Base_Column_List" />
        from 
        	sys_menu_book_share
        where 
        	uid = #{userId,jdbcType=BIGINT} 
        and 
        	name = #{fileName,jdbcType=VARCHAR}
    </select>
    
    <!-- huzi  2018年05月22日  插入数据   -->
    <insert id="insert" parameterType="com.kapphk.pms.bean.BeanMenuBookShare" useGeneratedKeys="true" keyProperty="id" >
        insert into sys_menu_book_share
        <trim prefix="(" suffix=")" suffixOverrides="," >
         	<if test="id != null" >
                id,
            </if>
            <if test="uid != null" >
                uid,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="foods != null" >
                foods,
            </if>
            <if test="logoPath != null" >
                logo_path,
            </if>
            <if test="filePath != null" >
                file_path,
            </if>
            <if test="describes != null" >
                describes,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
         	<if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="uid != null" >
                #{uid,jdbcType=BIGINT},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="foods != null" >
                #{foods,jdbcType=VARCHAR},
            </if>
            <if test="logoPath != null" >
                #{logoPath,jdbcType=VARCHAR},
            </if>
            <if test="filePath != null" >
                #{filePath,jdbcType=VARCHAR},
            </if>
            
            <if test="describes != null" >
                #{describes,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    
    <!-- huzi  2018年05月22日  更新数据   -->
    <update id="update" parameterType="com.kapphk.pms.bean.BeanMenuBookShare" >
        update sys_menu_book_share
        <set >
            <if test="id != null " >
                id = #{id,jdbcType=BIGINT},
            </if>
            <if test="uid != null " >
                uid = #{uid,jdbcType=BIGINT},
            </if>
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="foods != null" >
                foods = #{foods,jdbcType=VARCHAR},
            </if>
            <if test="logoPath != null" >
                logo_path = #{logoPath,jdbcType=VARCHAR},
            </if>
            <if test="filePath != null" >
                file_path = #{filePath,jdbcType=VARCHAR},
            </if>
            <if test="describes != null" >
                describes = #{describes,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    
    
     <!-- huzi  2018年05月22日  删除数据   -->
     <delete id="delete" parameterType="java.lang.Long" >
        delete from sys_menu_book_share where id = #{id,jdbcType=BIGINT}
    </delete>
    
    
    <!-- huzi - 2018年05月22日   删除多条数据 -->
    <delete id="deletes" >
        delete from sys_menu_book_share where id in 
        <foreach collection="ids" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </delete>
    
    
    
</mapper>