<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kapphk.pms.dao.mapper.BeanMenubookShareProcedureMapper" >
    <resultMap id="BaseResultMap" type="com.kapphk.pms.bean.BeanMenubookShareProcedure" >
        <!-- huzi 2018-05-22 表与实体类字段对应 -->
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="menu_id" property="menuId" jdbcType="BIGINT" />
        <result column="minute" property="minute" jdbcType="VARCHAR" />
        <result column="second" property="second" jdbcType="VARCHAR" />
        <result column="describes" property="describes" jdbcType="VARCHAR" />
        <result column="foods" property="foods" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    </resultMap>
    
    
    <sql id="Base_Column_List" >
        <!--  huzi 2018-05-22 表字段名称 -->
        id, menu_id, minute, second, describes, foods, create_time
    </sql>
    
    
    <!--  huzi 2018-05-22 根据菜单id，删除步骤 -->
    <delete id="deleteByMenuId" parameterType="java.lang.Long" >
        delete from sys_menubookshare_procedure where menu_id = #{menuid,jdbcType=BIGINT}
    </delete>
    
    <insert id="inserts" parameterType="java.util.List" >
        <!-- WARNING -  huzi 2018-05-22 添加多条数据 -->
        insert into sys_menubookshare_procedure (menu_id, minute, second, describes, foods, create_time)
        values
        <foreach collection="list" item="item" separator="," >
            (#{item.menuId,jdbcType=BIGINT}, #{item.minute,jdbcType=VARCHAR}, #{item.second,jdbcType=VARCHAR}, #{item.describes,jdbcType=VARCHAR}, #{item.foods,jdbcType=VARCHAR}, #{item.createTime,jdbcType=VARCHAR})
        </foreach>
    </insert>
    
    <delete id="deleteByEntity" >
        <!-- WARNING -  huzi 2018-05-22 通过实体类中的条件删除数据 -->
        delete from sys_menubookshare_procedure
        <where >
            <if test="param.id != null " >
                and id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.menuId != null " >
                and menu_id = #{param.menuId,jdbcType=BIGINT}
            </if>
            <if test="param.minute != null and param.minute != ''" >
                and minute = #{param.minute,jdbcType=VARCHAR}
            </if>
            <if test="param.second != null and param.second != ''" >
                and second = #{param.second,jdbcType=VARCHAR}
            </if>
            <if test="param.describes != null and param.describes != ''" >
                and describes = #{param.describes,jdbcType=VARCHAR}
            </if>
            <if test="param.foods != null and param.foods != ''" >
                and foods = #{param.foods,jdbcType=VARCHAR}
            </if>
        </where>
    </delete>
    

    
</mapper>