<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kapphk.pms.dao.mapper.BeanSystemUserMapper" >
    <resultMap id="BaseResultMap" type="com.kapphk.pms.bean.BeanSystemUser" >
        <!--  自动生成 2016年01月06日 表与实体类字段对应 -->
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="pwd" property="pwd" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>
    
    
    <!-- 查询单条数据huangzh 2016-01-08 -->
    <select id="findByUId" resultType="java.util.Map">
    	SELECT 
		u.id,
		u.user_name as userName,
		u.name,
		u.status,
		r.`id` as roleId
		FROM sys_system_user u
		LEFT JOIN sys_user_role ur ON ur.`user_id` = u.`id`
		LEFT JOIN sys_role r ON r.`id` = ur.`role_id`
		where u.id = #{userId}
    </select>
    
    
    <!-- 根据用户名和密码查询用户对象 huangzh 2016-01-06 -->
    <select id="findUserByUserNameAndPassword" resultMap="BaseResultMap">
        <!--  自动生成 2016年01月06日 根据ID查询 -->
        select 
        <include refid="Base_Column_List" />
        from sys_system_user u join sys_role s
        where u.user_name = #{userName}
        and u.pwd = #{password} and s.role_name=u.name and s.status=1
    </select>
    
    
    
    <sql id="Base_Column_List" >
        <!--  自动生成 2016年01月06日 表字段名称 -->
        u.id, u.user_name, u.pwd, u.name, u.status, u.create_time, u.remark
    </sql>
    
    <sql id="findByPageSql" >
        <!-- WARNING -  自动生成 2016-01-06  分页查询SQL -->
        select a.* from sys_system_user a
        <where >
            <if test="param.id != null " >
                and a.id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.userName != null and param.userName != ''" >
                and a.user_name = #{param.userName,jdbcType=VARCHAR}
            </if>
            <if test="param.pwd != null and param.pwd != ''" >
                and a.pwd = #{param.pwd,jdbcType=VARCHAR}
            </if>
            <if test="param.name != null and param.name != ''" >
                and a.name = #{param.name,jdbcType=VARCHAR}
            </if>
            <if test="param.status != null and param.status != ''" >
                and a.status = #{param.status,jdbcType=VARCHAR}
            </if>
            <if test="param.remark != null and param.remark != ''" >
                and a.remark = #{param.remark,jdbcType=VARCHAR}
            </if>
        </where>
        order by a.id desc
    </sql>
    
    <select id="findByPage" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-01-06  分页查询 -->
        select temp.* from (
        <include refid="findByPageSql" />
        ) temp limit #{offset}, #{pageSize}
    </select>
    
    <select id="findByPageCount" resultType="java.lang.Integer" >
        <!-- WARNING -  自动生成 2016-01-06  分页查询总条数 -->
        select count(1) from (
        <include refid="findByPageSql" />
        ) temp 
    </select>
    
    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        <!--  自动生成 2016年01月06日 根据ID查询 -->
        select 
        <include refid="Base_Column_List" />
        from sys_system_user
        where id = #{id,jdbcType=BIGINT}
    </select>
    
    <select id="load" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-01-06  根据多个ID查询 -->
        select 
        <include refid="Base_Column_List" />
        from sys_system_user where id in 
        <foreach collection="ids" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </select>
    
    <select id="all" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-01-06  查询所有 -->
        select 
        <include refid="Base_Column_List" />
        from sys_system_user
    </select>
    
    <select id="count" resultType="java.lang.Integer" >
        <!-- WARNING -  自动生成 2016-01-06 查询总条数 -->
        select count(1) from sys_system_user
    </select>
    
    <update id="update" parameterType="com.kapphk.pms.bean.BeanSystemUser" >
        <!--  自动生成 2016年01月06日 更新数据 -->
        update sys_system_user
        <set >
            <if test="userName != null and userName !=''" >
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null and pwd != ''" >
                pwd = #{pwd,jdbcType=VARCHAR},
            </if>
            <if test="name != null and name != ''">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="remark != null" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    
    <insert id="insert" parameterType="com.kapphk.pms.bean.BeanSystemUser" useGeneratedKeys="true" keyProperty="id" >
        <!--  自动生成 2016年01月06日 添加数据 -->
        insert into sys_system_user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="userName != null" >
                user_name,
            </if>
            <if test="pwd != null" >
                pwd,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="status != null" >
                status,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="remark != null" >
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="userName != null" >
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null" >
                #{pwd,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="remark != null" >
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    
    <insert id="inserts" parameterType="java.util.List" >
        <!-- WARNING -  自动生成 2016-01-06 添加多条数据 -->
        insert into sys_system_user (user_name, pwd, name, status, create_time, remark)
        values
        <foreach collection="list" item="item" separator="," >
            (#{item.userName,jdbcType=VARCHAR}, #{item.pwd,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR}, #{item.status,jdbcType=VARCHAR}, #{item.createTime,jdbcType=VARCHAR}, #{item.remark,jdbcType=VARCHAR})
        </foreach>
    </insert>
    
    <delete id="delete" parameterType="java.lang.Long" >
        <!--  自动生成 2016年01月06日 删除数据 -->
        delete from sys_system_user
        where id = #{id,jdbcType=BIGINT}
    </delete>
    
    <delete id="deletes" >
        <!-- WARNING -  自动生成 2016-01-06 删除多条数据 -->
        delete from sys_system_user where id in 
        <foreach collection="ids" item="item" open="(" separator="," close=")" >
            #{item}
        </foreach>
    </delete>
    
    <delete id="deleteByEntity" >
        <!-- WARNING -  自动生成 2016-01-06 通过实体类中的条件删除数据 -->
        delete from sys_system_user
        <where >
            <if test="param.id != null " >
                and id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.userName != null and param.userName != ''" >
                and user_name = #{param.userName,jdbcType=VARCHAR}
            </if>
            <if test="param.pwd != null and param.pwd != ''" >
                and pwd = #{param.pwd,jdbcType=VARCHAR}
            </if>
            <if test="param.name != null and param.name != ''" >
                and name = #{param.name,jdbcType=VARCHAR}
            </if>
            <if test="param.status != null and param.status != ''" >
                and status = #{param.status,jdbcType=VARCHAR}
            </if>
            <if test="param.remark != null and param.remark != ''" >
                and remark = #{param.remark,jdbcType=VARCHAR}
            </if>
        </where>
    </delete>
    
    <select id="findAll" resultMap="BaseResultMap" >
        <!-- WARNING -  自动生成 2016-01-06  通过实体中的条件查询所有 -->
        select temp.* from (
        <include refid="findByPageSql" />
        ) temp 
    </select>
</mapper>